:root {
	--bg: 255 253 250;

	--s: 4px;
	--s-2x: calc(var(--s) * 2);
	--s-3x: calc(var(--s) * 3);
	--s-4x: calc(var(--s) * 4);
	--s-5x: calc(var(--s) * 5);
	--s-6x: calc(var(--s) * 6);
	--s-7x: calc(var(--s) * 7);
	--s-8x: calc(var(--s) * 8);
	--s-9x: calc(var(--s) * 9);
	--s-10x: calc(var(--s) * 10);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	block-size: 100%;
}

body {
	background: rgb(var(--bg));
	min-block-size: 100%;
}

.header {
	padding-block: var(--s-10x);
	padding-inline: var(--s-10x);
}
